.gradient-mevius {
  /* fallback for old browsers */
  background: #30cfd0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(48, 207, 208, 0.5), rgba(51, 8, 103, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(48, 207, 208, 0.5), rgba(51, 8, 103, 0.5))
}

.head_log:before {
  margin-right: 10px;
}

.map-unuse {
  height: 0px;
}

@media screen and (min-width: 576px) {
  .mar-t-3 {
    margin-top: 15px;
  }
}

.store_img {
  width: 50px;
  height: 50px;
}

@media screen and (min-width: 576px) {
  .store_img {
    width: 70px;
    height: 70px;
  }
}

.f-small {
  font-size: 11px;
}

.f-middle {
  font-size: 14px;
}

.f-title {
  font-weight: 500;
} 

.green-btn {
  background-color: #2FAD66;
}

.green-text {
  color: #2FAD66;
}

.orange-text {
  color: #FF8F3E;
}