.gradient-mevius {
  /* fallback for old browsers */
  background: #30cfd0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(48, 207, 208, 0.5), rgba(51, 8, 103, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(48, 207, 208, 0.5), rgba(51, 8, 103, 0.5))
}

.head_log:before {
  margin-right: 10px;
}

.map-unuse {
  height: 0px;
}

.map-use {
  width: 100%;
  height: 850px;
  margin: 0 auto;
}

@media screen and (max-width: 425px) {
  .map-use {
    width: 100%;
    height: 750px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 576px) {
  .mar-t-3 {
    margin-top: 15px;
  }
}


